{% extends 'index.html' %}
{% block content %}
<h2>R$ {{totExpense}}</h2>
<table>
    <tr>
      <th>CARTÃO</th>
      <th>PESSOA</th>
      <th>DATA</th>
      <th>DESCRIÇÃO</th>
      <th>VALOR</th>
      <th>STATUS</th>
      <th>MODALIDADE</th>
      <th colspan="2">ação</th>
    </tr>
    {% for expense in expenses %}
    <tr>
      <td>{{expense.card}}</td>
      <td>{{expense.person}}</td>
      <td>{{expense.date}}</td>
      <td>{{expense.description}}</td>
      <td>{{expense.value}}</td>
      <td>{{expense.status}}</td>
      <td>{{expense.modality}}</td>
      <td><a href="{% url 'alterExpense' expense.id %}"> editar </a></td>
      <td><a href="{% url 'deleteExpense' expense.id %}"> deletar </a></td>
    </tr>
    {% endfor %}
    
  </table>
  
{% endblock content %}
